* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    /* COLORS */
    --bg: #f1ffc0;
    --col1: #dbff62;
    --col2: #7a5ac7;
    --col3: #f3b0af;
    --col4: #c4e0e5;
    --col5: #f9d7ab;
    --col6: #fdf1e7;
    --col7: #f6c9fb;
    --col8: #d4cbec;
    /* PADDINGS & MARGINS */
    --pad-f-h: 1em;
    --w-container: 85%;
    /* padding banner */
    --pad-b: 70px;
    --pad-main: 40px;
    /* FONTS */
    --fsize: 15px;
    font-size: var(--fsize);
    --fh: Helvetica, Arial, sans-serif;
    --vr: "VeronaR", Georgia, 'Times New Roman', Times, serif;
    --vm: "VeronaM", Georgia, 'Times New Roman', Times, serif;
    /* H1 title size */
    --t-t: 2.2em;
    /* H2 and header title size */
    --t-h: 1.4em;
    /* H3 and footer size */
    --t-f: 1em;
    /* quote size */
    --t-q: 1.3em;
    /* helvetica body */
    --t-b: 0.9em;
}

@media (max-width: 450px) {
     :root {
        --pad-main: 20px;
    }
}

html {
    background-color: var(--col2);
    color: var(--col2);
    scroll-behavior: smooth;
    scroll-snap-type: block;
    -webkit-text-size-adjust: 100%;
    font-family: var(--fh);
    word-break: break-word;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    min-width: 280px;
    overflow-x: hidden;
}

p,
ol,
li {
    line-height: 1.35;
}

iframe {
    width: 100%;
}

iframe.video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
    font-family: inherit;
}

header a,
footer a,
a.no-link,
.btn a,
.btn-link>a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
}


/* p>a, ol>li>a,  {
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
} */

ul {
    list-style: none;
    margin: 0;
}

main {
    min-height: 90vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h1 {
    font-family: var(--vm);
    font-size: var(--t-t);
    line-height: 1.2;
}

h2,
.t-header {
    font-family: var(--vr);
    font-size: var(--t-h);
}

h3 {
    text-transform: uppercase;
    font-family: var(--vr);
    font-size: var(--t-f);
}

h4 {
    font-family: var(--vr);
    font-size: var(--t-q);
}

.metadata {
    font-family: var(--fh);
    font-size: var(--t-b);
}

.verona {
    font-family: var(--vr);
}

.helvetica {
    font-family: var(--fh);
}

.helvetica-b {
    font-family: var(--fh);
    font-weight: bold;
}


/* --------------------------404 / Utily page---------------------------- */

.m-utility {
    width: 100%;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* --------------------------HOMEPAGE---------------------------- */

.hidden {
    display: none;
}

@media (max-width: 450px) {
    .desktop {
        display: none;
    }
}

@media (max-width: 966px) {
    .desktop-big {
        display: none;
    }
}


/* ------------------------ BUTTONS */

.action-btn {
    background-color: var(--col1);
    z-index: 100;
    color: var(--col2);
}

.btn {
    border-radius: 50px;
    border: 1.2px solid var(--col2);
    background-color: transparent;
    color: inherit;
    display: inline-flex;
}

.btn:hover:not(.btndot) {
    border-radius: 50px;
    background-color: var(--col2);
    color: var(--col1);
}

.btn a,
.btn span,
.btn li {
    padding: 6px 11px 5px;
}

.btndot span {
    padding: 0 8px 1px;
}

.btndot {
    color: #000;
    opacity: 0;
    border: 1.2px solid black;
    transition: .3s cubic-bezier(.6, -0.28, .74, .05);
}

.btn-link>a,
.btn-link>span,
.btn-link>li {
    border-bottom: 4px solid;
    transition: .3s cubic-bezier(.6, -0.28, .74, .05);
}

.btn-link>a:hover,
.btn-link>span:hover,
.btn-link>li:hover {
    border-bottom: 7px solid var(--col3);
    transition: .3s cubic-bezier(.6, -0.28, .74, .05);
}

.link:hover {
    color: var(--col3)
}

#back-top {
    bottom: 15px;
    right: 15px;
    padding: 6px;
    position: fixed;
    border-radius: 50px;
}

#signnow {
    right: 40px;
    top: 8em;
    position: fixed;
}

svg {
    min-width: 10px;
    fill: var(--col2);
}

.u-yellow {
    padding-bottom: 3px;
    border-bottom: #dbff62 double 13px;
}


/* ------------------------ COLORS  */


/* HEADER */

footer,
header {
    background-color: var(--col2);
    color: var(--col1);
}

header {
    position: fixed;
    width: 100%;
    /* min-height: 125px; */
    z-index: 90;
    font-family: var(--vm);
    opacity: 99%;
    background: linear-gradient(180deg, var(--col2) 0%, var(--col2) 45%, rgba(255, 255, 255, 0) 100%);
    transition: all .4s ease-in-out;
}

.h-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 1em var(--pad-main);
}

.logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo {
    font-weight: bold;
    font-size: 1.3em;
}

@media (max-width: 320px) {
    .logo>img {
        height: 50px;
    }
    .h-container>.logo-container {
        position: absolute;
    }
    .h-container>.menu-wrapper {
        width: 100%;
    }
}

#menu {
    color: var(--col3);
    padding: .3em 0 .5em;
    text-align: right;
}

input#menu-slider:checked~.nav-container {
    height: 75vh;
    border-bottom: 0px solid;
}

.nav-container {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 0;
    overflow: hidden;
    text-align: end;
    display: flex;
    flex-direction: column;
    transition: .3s cubic-bezier(.6, -0.28, .74, .05);
    padding-top: 0.4em;
}

.submenu {
    margin: 0;
    padding: 0 0 .6em;
    transition: .3s cubic-bezier(.6, -0.28, .74, .05);
}

.submenu:active {
    color: var(--col3);
}

.sublist {
    list-style: none;
    padding: 0.4em 0 0;
    transition: .1s linear;
    max-width: 15em;
}

.sublist:not(.close) {
    background-color: var(--col2);
    padding: 1em;
    border-bottom: 5px solid var(--col1);
    margin: 7px 0 0;
    word-break: keep-all;
}

.sublist>li {
    padding: 0.5em 0 0;
}

@media (min-width: 950px) {
    /* header {
        height: 155px;
    } */
    .nav-container {
        flex-direction: row;
        text-align: left;
        height: auto;
    }
    #menu {
        display: none;
    }
    .submenu {
        padding: 0 0 .6em 1.4em;
    }
    .sublist {
        position: absolute;
        padding: 1em 0 0;
    }
    .nav-phone {
        display: none;
    }
}


/* FOOTER */

footer {
    width: 100%;
    color: var(--col1);
    font-family: var(--vr);
}

.f-container {
    display: flex;
    padding: 2em var(--pad-main) 6em;
    flex-direction: column;
}

.f-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: baseline;
}

.f-col {
    margin: 0 0 1em;
}

.f-col ul {
    padding: 0;
}

.f-col>li {
    padding: 0.1em 0;
}

#p-policy {
    padding: 1.5em 0 0;
}

@media (min-width: 600px) {
    .f-list-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .f-col {
        width: 13em;
    }
}

@media (min-width: 450px) {
    .f-container {
        flex-direction: row;
    }
}


/* ---------------------------- HOMEPAGE SECTIONS */


/* VIDEO */

.v-container {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: -1;
    overflow: hidden;
}

.v-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#overlay-sentence {
    position: absolute;
    padding: 0 var(--pad-main);
    bottom: 0;
    color: var(--col1);
}

#bg-video {
    min-width: 100vw;
    min-height: 100vh;
}


/* OTHER SECTION */

#embed-fallback-link {
    border-color: #dbff62;
    background-color: #876bcd;
    vertical-align: middle;
    margin: 0 0 1.5555555556rem;
    padding: 0.8611111111rem 1em;
    border: 0.1111111111rem solid transparent;
    border-radius: 10rem;
    transition: background-color .25s ease-out, color .25s ease-out;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 100;
    -webkit-appearance: none;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    color: #dbff62;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.t-section {
    width: 100%;
    padding: 6% 0;
    margin: auto;
    background-color: var(--col6);
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.t-section.subpage-section {
    padding: 11vh 0 7vh;
}

.t-split {
    display: flex;
    flex-direction: column;
}

.t-container {
    padding: 0 var(--pad-main);
    width: 100%;
}

.marg {
    padding-bottom: 6em;
}


/* .t-container h1 {
    margin-top: 0;
} */

.sec-quote,
blockquote {
    font-family: var(--vr);
    font-size: var(--t-q);
    margin: 0;
    padding: 1em 0;
    quotes: "'" "'";
}

.sec-img {
    padding: 2em 0;
}

.sec-img img {
    width: 100%;
}

.sec-excerpt {
    padding-bottom: 1em;
}

.sec-key-facts {
    padding: 2em 0;
}

.list {
    line-height: 1.05;
    padding: .7em .1em;
    display: flex;
}

.list span:last-child,
.faq-list {
    flex-grow: 1;
    flex-wrap: wrap;
}

.faq-list span:last-child {
    text-align: right;
    float: right;
}

.list>span:first-child {
    min-width: var(--pad-b);
    width: var(--pad-b);
}

.list:not(:last-child):not(.big) {
    border-bottom: 1px solid;
}

.btn-readmore {
    margin-right: 1em;
}

.readmore {
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.close {
    height: 0;
    overflow: hidden;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#counter,
#community {
    min-height: auto;
}

@media (min-width: 786px) {
    .t-split {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
    }
    .t-split .t-container {
        max-width: 50%;
    }
    /* #take-action .t-split {
        align-items: flex-end;
    } */
    .sec-intro,
    .sec-quote,
    .sec-excerpt,
    .readmore>*:not(blockquote),
    .sec-nav {
        padding-left: var(--pad-b);
    }
    .readmore>ol,
    .readmore>ul {
        padding-left: calc(var(--pad-b) + 40px);
    }
}


/* COUNTER */

#counter .t-container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#countdown {
    border-radius: 50px;
    border: solid 1px;
}

#countdown-sentence {
    font-size: .7em;
}

#countdown ul {
    display: flex;
    flex-direction: row;
    color: var(--col2);
    width: fit-content;
    padding: 1em 1.2em;
    word-break: keep-all;
}

#countdown li {
    display: flex;
    flex-direction: column;
    padding: .5em 1em;
}

#countdown li span {
    font-size: 2.2em;
    font-weight: bold;
}

@media (min-width: 600px) {
    #countdown ul {
        padding: 1em 10em;
    }
    #countdown li span {
        font-size: 2.6em;
    }
}


/* SLIDER SECTION */

#community {
    padding-bottom: 0;
}

#community-slider img,
#ig-slider img {
    width: 100%;
}

#community-slider,
#ig-slider {
    overflow: hidden;
}

.control {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 0px;
    position: relative;
}

.control>span {
    position: absolute;
    width: 20px;
    z-index: 100;
}

.control>span svg {
    fill: var(--col1);
}

.control>span.prev {
    left: 20px;
}

.control>span.next {
    right: 20px;
}

.control div#go-to {
    position: absolute;
    right: 20px;
    bottom: 40px;
    color: var(--col1);
    font-size: var(--fsize);
}

.to-ig {
    font-size: var(--fsize);
    height: 25px;
    position: absolute;
    bottom: 20px;
    padding: 0 0 0 20px;
}


/* ----------------------SUBPAGES---------------------------- */

.person-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--col8);
    margin: 1em 0;
    height: 90vh;
}

.person-img {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.person-img img {
    height: 100%;
}

.person-text {
    padding: 0 1em 1em;
    min-width: 55%;
}

.person-list {
    padding: 10px 0 0 20px;
    list-style-type: "+  ";
}

#allies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
    grid-gap: 1rem;
}

.allies-box {
    padding: 1.6em;
    display: grid;
    place-items: center;
    text-align: center;
    color: #000;
    align-content: baseline;
}


/* .allies-box::before {
    content: "";
    display: block;
    /* padding-bottom: 100%; 
    grid-area: 1 / 1 / 2 / 2;
}  */

.allies-box img {
    width: 100%;
    max-width: 250px;
    padding: 0 1em;
    grid-area: 1 / 1 / 2 / 2;
}

.allies-box>h4 {
    margin: 1.5em 0 .8em;
}

.allies-box .trim {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    /* number of lines to show */
    line-clamp: 7;
    -webkit-box-orient: vertical;
    transition: .3s cubic-bezier(.6, -0.28, .74, .05);
}

@media (min-width: 600px) {
    .person-box {
        flex-direction: row;
        height: 50vh;
    }
}


/* FAQ STICKY MENU  */

@media (min-width: 786px) {
    .person-box {
        flex-direction: column;
        height: 75vh;
        background-image: url();
    }
    #allies-container {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

@media (min-width: 992px) {
    .person-box {
        flex-direction: row;
        height: 50vh;
    }
    #faq-section {
        height: 100vh;
        position: fixed;
        padding-bottom: 0;
    }
    #faq-section>.t-split {
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
    #faq-menu {
        overflow: scroll;
        position: sticky;
        top: 0;
        height: 100%;
    }
}


/* ----------------------ANIMATIONS---------------------------- */

.pop:hover {
    animation-name: pop;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(.6, -0.28, .74, .05);
}

.breath {
    animation: breathing 2s ease-in infinite;
}

@keyframes pop {
    50% {
        transform: scale(0.95);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    50% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* ----------------------FONTS---------------------------- */

@font-face {
    font-family: "VeronaR";
    src: url("/_static/fonts/Verona-Regular.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: "VeronaM";
    src: url("/_static/fonts/Verona-Medium.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: "Helvetica";
    src: url("/_static/fonts/Helvetica.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: "HelveticaM";
    src: url("/_static/fonts/Helvetica-Bold.woff") format("woff");
    font-display: swap
}