<!doctype html>
<html lang="{{lang}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title | upper }} {% if title%} → {{ title | upper}} {% endif %}</title>
    <meta name="description" content="{{ description or metadata.description }}"> 
    <meta name="author" content="{{ metadata.author }}">
    <link rel="icon" href="{{ '/_static/icons/favicon.ico' | url }}">
    <link rel="apple-touch-icon" href="{{ '/_static/icons/apple-touch-icon.png' | url }}">
    <link rel="manifest" href="{{ '/_static/icons/site.webmanifest' | url }}" />
     <link rel="stylesheet" href="{{ '/_static/css/structure.css' | url }}" />
    <link rel="stylesheet" href="{{ '/_static/css/text.css' | url }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>      
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>

<body id="{{title | safe }}">
 
{% include './nav.njk' %}

<main id=main-page>
{# {% include './fakenav.njk' %} #}
 {%block content %}

        {{ content | safe }}   

 {%endblock content %}
 {% include './footer.njk' %}
</main>


<script async src="{{ '/_static/js/snippet.js' | url }}"></script>
<script async src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>

</body>

</html>
