---
layout: layouts/base.njk
---
 
      {% include './landing-slider.njk' %}
    <div id=description class="anchor con-display f-display pada pbot">
        {{ content | safe }}  
    </div> 
    <div id=lavori class=anchor title="{{menuitems.nav[2].name}}"><span id=works></span>
    {% set slidecount = 0 %}   
    {% set projectnum = 0 %}   
    {% set project = collections["project_" + locale] %}
    {%- for item in project |  sortByOrder -%}
     <div class="con-project pada btop" lang=it id="{{ item.data.title | slugify }}">
        <div class="con-title" data-target="{{ item.data.title | truncate (5, true, "") | slugify  | trim }}{{projectnum}}">
            <span class="f-title ptitle">{{ item.data.title}}</span>
            <span class="f-menu pcat">{{ item.data.category}}</span>
            <span class="f-menu prole">{{ item.data.role}}</span>
            <span class="f-menu pyear">{{ item.data.year}}</span>
        </div>
        <div class="con-contents" data-target="{{ item.data.title | truncate (5, true, "") | slugify  | trim }}{{projectnum}}" id="{{ item.data.title | truncate (5, true, "") | slugify }}{{projectnum}}">
            <div class="f-title psum">{{ item.data.summary | in_markdownify }}</div>
            <div class="f-para pdes">{{ item.templateContent | safe }}</div>
            <div class="f-menu con-link">
                       {% set slidecount = slidecount + 1 %}
                {%- for item in item.data.links -%}
                    {% if item.action and item.name%}
                    {% if item.action == "linkto"%}
                        <a href="{{ item.target  | url }}" {% if item.newtab == true %}target="_blank"{% endif %} data-target="{% if 'slider' in item.target %}slider{% else%}{{ item.target | trim }}{%endif%}" class="btn-link {% if item.dark == true-%} dark{% endif %}">{{item.name}}</a>
                    {% elif item.action == "mailto"%}
                            <a href="mailto:{%if item.emailaddress%}{{item.emailaddress |trim| urlencode |safe }}{%endif%}{%if item.emailsubject%}?subject={{item.emailsubject |  urlencode |safe}}{%endif%}{%if item.emailcontent%}&body={{item.emailcontent | urlencode| safe}}{%endif%}" target="_blank" data-target="mailto" class="btn-link {% if item.dark == true-%}dark{% endif %}">{{item.name}}</a>
                    {% elif item.action == "slider" %}
                            <span data-target="slider"  data-slide="{{-slidecount-}}" class="btn-link {% if item.dark == true-%} dark{% endif %}">{{item.name}}</span>
                    {% elif item.action == "language" %}
                            <a href="{{pointerurl}}" {% if item.newtab == true %}target="_blank"{% endif %} data-target="language-switcher" class="btn-link {% if item.dark == true-%} dark{% endif %}">{{item.name}}</a>
                    {% endif %}

                    {% else %}
                    <a href="" class="btn-link">Button is missing info</a>
                  {% endif %}
                {% endfor %}
                {% for img in item.data.media %}
                {% set slidecount = slidecount + 1 %}
        {% endfor %}
        

            </div>
        </div>
     </div>
   
    {%- endfor -%}
    </div>

    <script async src="{{ '/_static/js/projectopen.js' | url }}"></script>

    
    {% include './main-slider.njk' %}
    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on('init', user => {
      if (!user) {
        window.netlifyIdentity.on('login', () => {
          document.location.href = '/admin/';
        });
      }
    });
  }
</script>
