<header id="menumore">
    <div class="head f-menu" >
        <div id="con-menu-left">
            <span class="name btn btn-menu">{{ metadata.author | upper }}</span>
            <span class="btn btn-menu" id="arrow">→</span>
        <a class="loc" id=loc href=""> {% if permalink !== '/index.html' %} {{title | upper }} {% endif %}</a>
         </div>
        <span id=close-cross class="cross btn hidden">✗</span>
    </div>
    <div class="con-link pada" id="menu-link">
        {% set pcode = "home" %}
          {% set pointerurl = '/' %}
        {% if pcode %}
             {% set pcode = pagecode %}
        {% endif %}
        {% for item in collections.page %}
            {% if item.data.pagecode == pcode and item.url !== page.url %}
                {% set pointerurl = item.url %}
            {% endif %}
        {% endfor %}

        {%- for item in menuitems.nav[locale]-%}
   


         {# {%- for item in links -%} #}
            {% if item.action == "linkto"%}
                    <a href="{{ item.target  | url }}" data-target="{% if 'slider' in item.target %}slider{% else%}{{ item.target | trim }}{%endif%}" class="btn-link {% if item.dark == true-%} dark{% endif %}">{{item.name}}</a>
            {% elif item.action == "mailto"%}
                    <a href="mailto:{%if item.emailaddress%}{{item.emailaddress |trim| urlencode |safe }}{%endif%}{%if item.emailsubject%}?subject={{item.emailsubject |  urlencode |safe}}{%endif%}{%if item.emailcontent%}&body={{item.emailcontent | urlencode| safe}}{%endif%}" target="_blank" data-target="mailto" class="btn-link {% if item.dark == true-%}dark{% endif %}">{{item.name}}</a>
            {% elif item.action == "slider" %}
                    <span  data-target="slider" class="btn-link {% if item.dark == true-%} dark{% endif %}">{{item.name}}</span>
            {% elif item.action == "toggledark" %}
                    <span id="nav-{{ item.action | trim }}" data-target="toggledark" class="btn-link {% if item.dark == true-%} dark{% endif %}">{{item.name}}</span>
            {% elif item.action == "language" %}
                    <a href="{{pointerurl}}" data-target="language-switcher" class="btn-link {% if item.dark == true-%} dark{% endif %}">{{item.name}}</a>
            {% endif %}
        {%- endfor -%}
       
    </div>

</header>

<script async src="{{ '/_static/js/menuopen.js' | url }}"></script>