---
layout: layouts/base.njk
---


 <div class="subpage">
      {# {% if media%} #}

   {# {% import './main-slider.njk' %} #}
   
 {# {% include './main-slider.njk' %} #}
 {# {% endif %} #}
        <div class="con-display f-display pada pbot">
            {{ content | safe }}
        </div>
        {% if yearlist %}
        <div class="pada">
            {%- for item in yearlist -%}
             {% if item.year and item.data%}
            <div class="con-cv">
                <span class="f-menu cv-year">{{item.year}}</span>
                <ul class="f-para cv-ul">
                    {%- for data in item.data -%}
                     <li>{{ data | in_markdownify | safe }}</li>
                    {%- endfor -%}
                </ul>
            </div>
             {% endif %}
            {%- endfor -%}
        </div>
        {% endif %}
        <div class="con-link pada">
        {% set pcode = "home" %}
          {% set pointerurl = '/' %}
        {% if pcode %}
             {% set pcode = pagecode %}
        {% endif %}
        {% for item in collections.page %}
            {% if item.data.pagecode == pcode and item.url !== page.url %}
                {% set pointerurl = item.url %}
            {% endif %}
        {% endfor %}

        {%- for item in links -%}
        {% if item.action and item.name%}
            {% if item.action == "linkto"%}
                   <a href="{{ item.target  | url }}" {% if item.newtab == true %} target="_blank"{% endif %} data-target="{% if 'slider' in item.target %}slider{% else%}{{ item.target | trim }}{%endif%}" class="btn-link {% if item.dark == true-%} dark{% endif %}">{{item.name}}</a>
            {% elif item.action == "mailto"%}
                    <a href="mailto:{%if item.emailaddress%}{{item.emailaddress |trim| urlencode |safe }}{%endif%}{%if item.emailsubject%}?subject={{item.emailsubject |  urlencode |safe}}{%endif%}{%if item.emailcontent%}&body={{item.emailcontent | urlencode| safe}}{%endif%}" target="_blank" data-target="mailto" class="btn-link {% if item.dark == true-%}dark{% endif %}">{{item.name}}</a>
            {% elif item.action == "slider" %}
                      <span data-target="slider" class="btn-link {% if item.dark == true-%} dark{% endif %}">{{item.name}}</span>
            {% elif item.action == "language" %}
                    <a href="{{pointerurl}}" {% if item.newtab == true %} target="_blank"{% endif %} data-target="language-switcher" class="btn-link {% if item.dark == true-%} dark{% endif %}">{{item.name}}</a>
            {% endif %}
        {% else %}
         <a href="" class="btn-link">Button is missing info</a>
        {% endif %}
        {%- endfor -%}
        </div>
</div>

  {% include 'layouts/main-slider.njk' %}

{# {%if item.emailaddress%}{{item.emailaddress |trim| urlencode |safe }}{%endif%}{%if item.emailsubject%}{{item.emailsubject | safe| urlencode}}{%endif%}{%if item.emailcontent%}{{item.emailcontent | urlencode safe}}{%endif%} #}